/*
navbar-default personalizada en:
http://work.smarchal.com/twbscolor/

*/

.navbar-brand {
  float: left;
  height: 50px;
  padding: 2px 52px;
  font-size: 18px;
  line-height: 20px;
  margin-top: -2rem;
}

.panel-info{
  border: 1px solid red;
}


.panel-info>.panel-heading{
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-info{
  color: #fff;
  background-color: #363a3c;
  border-color: #000;
}

.btn-info:hover{
  color: #fff;
  background-color: #363a3c;
  border-color: #000;
}

.table>tbody>tr.info>th{
  background-color: #363a3c;
  color: #fff;
}
.navbar-default {
  background-color: #000;
  border: 1px solid red;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #363a3c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #2980b9;
}
.navbar-default .navbar-toggle {
  border-color: #2980b9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2980b9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #2980b9;
  }
}

.main-section{
  border:1px solid red;
  background-color: #fff;
}
.profile-header{
  background-color: black;
  height:150px;
}
.user-detail{
  margin:-50px 0px 30px 0px;
}
.user-detail img{
  height:100px;
  width:100px;
}
.user-detail h5{
  margin:15px 0px 5px 0px;
}
.user-social-detail{
  padding:6px 0px;
  background-color: black;
}
.user-social-detail a i{
  color:#fff;
  font-size:23px;
  padding: 0px 5px;
}

